
<div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
  <div class="flex-1 flex justify-between sm:hidden">
    <a (click)="setNotesPaginator(activePage >= 2 ? activePage - 1 : activePage)"class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
      Previous
    </a>
    <a (click)="setNotesPaginator(activePage != pages.length ? activePage + 1 : activePage)" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
      Next
    </a>
  </div>
  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">{{notesStart == 0 ? notesStart + 1 : notesStart}}</span>
        to
        <span class="font-medium">{{notesEnd == 0 ? notesEnd + notesOnPage : notesEnd}}</span>
        of
        <span class="font-medium">{{cryptosSlice}}</span>
        results
      </p>
    </div>
    <div>
      <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
        <a (click)="setFirstPage()" class="relative cursor-pointer inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
          <!-- Heroicon name: solid/chevron-right -->
          First
        </a>
        <a (click)="setNotesPaginator(activePage >= 2 ? activePage - 1 : activePage)" class="relative cursor-pointer inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
          <span class="sr-only">Previous</span>
          <!-- Heroicon name: solid/chevron-left -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
        </a>
        <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
          <!-- <a class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
          1
        </a>  -->
        <a *ngFor="let page of pages, let i = index" (click)="setNotesPaginator(page)" [ngClass]="{
          'z-10 bg-indigo-100 border-indigo-500 text-indigo-600': page == activePage,
          'bg-white border-gray-300 text-gray-500 hover:bg-gray-50': page !== activePage
        }" class="hidden md:inline-flex relative items-center px-4 py-2 border text-sm font-medium cursor-pointer">
          {{page}}
        </a>
        <a (click)="setNotesPaginator(activePage != pages.length ? activePage + 1 : activePage)" class="relative  cursor-pointer inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
          <span class="sr-only">Next</span>
          <!-- Heroicon name: solid/chevron-right -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </a>
        <a (click)="setLastPage()" class="relative cursor-pointer inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
          <!-- Heroicon name: solid/chevron-right -->
          Last
        </a>
      </nav>
    </div>
  </div>
</div>