<div class="h-screen md:flex">
  <div
    class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr from-blue-800 to-purple-700 i justify-around items-center hidden"
  >
    <div>
      <h1 class="text-white font-bold text-4xl font-sans">GoFinance</h1>
      <p class="text-white mt-1">
        The most popular peer to peer lending at SEA
      </p>
      <button
        type="submit"
        class="block w-28 bg-white text-indigo-800 mt-4 py-2 rounded-md font-bold mb-2"
      >
        Read More
      </button>
    </div>
    <div
      class="absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"
    ></div>
    <div
      class="absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"
    ></div>
    <div
      class="absolute -top-40 -right-0 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"
    ></div>
    <div
      class="absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"
    ></div>
  </div>
  <div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
    <form
      #ngRegisterForm="ngForm"
      [formGroup]="registerForm"
      (ngSubmit)="authentificator ? login() : register()"
      class="form bg-white w-2/5"
    >
      <h1 class="text-gray-800 font-bold text-2xl mb-3">{{authentificator ? 'Hello Again! ' : 'Welcome'}}</h1>
      <!-- <div class="form-control flex items-center border-2 py-2 px-3 rounded-md mb-4">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
					fill="currentColor">
					<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
						clip-rule="evenodd" />
				</svg>
				<input class="pl-2 outline-none border-none" type="text" formControlName="" placeholder="Full name" />
      </div> -->
      <!-- <div
        class="form-group flex items-center border-2 py-2 px-3 rounded-md mb-4"
        [ngClass]="{
          'border-3 border-red-600':
            (registerForm.get('userName')?.errors &&
              registerForm.get('userName')?.touched) ||
            (registerForm.get('userName')?.errors && ngRegisterForm?.submitted)
        }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-gray-400"
          [ngClass]="{
            'text-red-500':
              (registerForm.get('userName')?.errors &&
                registerForm.get('userName')?.touched) ||
              (registerForm.get('userName')?.errors &&
                ngRegisterForm?.submitted)
          }"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4"
          />
        </svg>
        <input
          class="form-control pl-2 outline-none border-none"
          type="text"
          [formControlName]="'userName'"
          id="userName"
          placeholder="Username"
        />
      </div> -->
      <div
        class="form-group flex items-center border-2 py-2 px-3 rounded-md mb-4"
        [ngClass]="{
          'border-3 border-red-600':
            (registerForm.get('email')?.errors &&
              registerForm.get('email')?.touched) ||
            (registerForm.get('email')?.errors && ngRegisterForm?.submitted)
        }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-gray-400"
          fill="none"
          [ngClass]="{
            'text-red-500':
              (registerForm.get('email')?.errors &&
                registerForm.get('email')?.touched) ||
              (registerForm.get('email')?.errors && ngRegisterForm?.submitted)
          }"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
          />
        </svg>
        <input
          class="form-control pl-2 outline-none border-none"
          type="text"
          [formControlName]="'email'"
          id="email"
          placeholder="Email Address"
        />
      </div>
      <div
        class="form-group flex items-center border-2 py-2 px-3 rounded-md mb-4"
        [ngClass]="{
          'border-3 border-red-600':
            (registerForm.get('password')?.errors &&
              registerForm.get('password')?.touched) ||
            (registerForm.get('password')?.errors && ngRegisterForm?.submitted)
        }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-gray-400"
          viewBox="0 0 20 20"
          [ngClass]="{
            'text-red-500':
              (registerForm.get('password')?.errors &&
                registerForm.get('password')?.touched) ||
              (registerForm.get('password')?.errors &&
                ngRegisterForm?.submitted)
          }"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
            clip-rule="evenodd"
          />
        </svg>
        <input
          class="form-control pl-2 outline-none border-none"
          type="text"
          [formControlName]="'password'"
          id="password"
          placeholder="Password"
        />
      </div>
      <!-- <div
        class="form-group flex items-center border-2 py-2 px-3 rounded-md"
        [ngClass]="{
          'border-3 border-red-600':
            (registerForm.get('confirmPassword')?.errors &&
              registerForm.get('confirmPassword')?.touched) ||
            (registerForm.get('confirmPassword')?.errors &&
              ngRegisterForm?.submitted)
        }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-gray-400"
          viewBox="0 0 20 20"
          [ngClass]="{
            'text-red-500':
              (registerForm.get('confirmPassword')?.errors &&
                registerForm.get('confirmPassword')?.touched) ||
              (registerForm.get('confirmPassword')?.errors &&
                ngRegisterForm?.submitted)
          }"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
            clip-rule="evenodd"
          />
        </svg>
        <input
          class="form-control pl-2 outline-none border-none"
          type="text"
          [formControlName]="'confirmPassword'"
          id="confirmPassword"
          placeholder="Confirm password"
        />
      </div> -->
      <button
        type="submit"
        class="block w-full bg-indigo-600 mt-4 py-2 rounded-md text-white font-semibold mb-2"
      >
       {{authentificator ? 'Login' : 'Register'}}
      </button>

      <button 
      (click)="authChanged()"
      type="button"
      class="block w-full border-2 border-indigo-600 mt-4 py-2 rounded-md text-indigo-600 font-semibold mb-2"
      >
      {{authentificator ? 'Register' : 'Log in'}}
      </button>
      <span *ngIf="authentificator" class="text-sm hover:text-blue-500 cursor-pointer"
        >Forgot Password ?
      </span>
    </form>
  </div>
</div>
