<div class="container 2xl mx-auto">
  <div class="relative pt-6 pb-6 px-4 sm:px-6 lg:px-0">
    <div class="relative z-10 pb-20 sm:pb-20 md:pb-20 lg:flex lg:w-full lg:pb-20 xl:pb-20 pt-20 sm:pt-20 md:pt-20 lg:pt-20 xl:pt-20 bg-indigo-50 rounded-md">
      <main class="w-full px-4 lg:px-8 ">
        <div class="sm:text-center lg:text-left">
          <p class="lg:text-6xl md:text-5xl md:text-4xl sm:text-3xl text-2xl tracking-tight font-extrabold text-gray-900 ">
            <span class="block xl:inline">{{'Vote for cryptocurrency' | uppercase}}</span>
          </p>
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
            And find out what other crypto traders have chosen
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a [routerLink]="['/voting']" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-600 md:py-4 md:text-lg md:px-10">
                Get started
              </a>
            </div>
          </div>
        </div>
      </main>

      <main class="w-full px-4 lg:px-8 flex flex-wrap content-between justify-center">
        <div class="sm:text-center lg:text-left w-full">
          <div class="border border-blue-300 shadow rounded-md p-4 max-w-lg w-full mx-auto mb-5 mt-5">
            <div class="flex space-x-4">
              <div class="rounded-full bg-indigo-400 h-12 w-12 flex flex-wrap content-center justify-center">
                <img class="h-9" src="../../../../assets/img/main-page/bitcoin-tab.svg">
              </div>
              <div class="flex-1 space-y-4 py-1">
                <div class="h-4 bg-indigo-400 rounded w-3/4"></div>
                <div class="animate-pulse space-y-2">
                  <div class="h-4 bg-indigo-400 rounded"></div>
                </div>
              </div>
            </div>
          </div>    
        </div>
        <div class="sm:text-center lg:text-left w-full flex justify-center lg:justify-end xl:justify-end">
          <div class="border border-indigo-300 shadow rounded-md p-4 max-w-lg w-full">
            <div class="flex space-x-4">
              <div class="rounded-full bg-indigo-400 h-12 w-12 flex flex-wrap content-center justify-center">
                <img class="h-9" src="../../../../assets/img/main-page/eth-tab.svg">
              </div>
              <div class="flex-1 space-y-4 py-1">
                <div class="h-4 bg-indigo-400 rounded w-3/4"></div>
                <div class="animate-pulse space-y-2">
                  <div class="h-4 bg-indigo-400 rounded"></div>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </main>
    </div>
  </div>
</div>