<app-vote-baner *appAppShellNoRender></app-vote-baner>
<app-cryptos-ratings *appAppShellNoRender></app-cryptos-ratings>
<app-menu-tools *appAppShellNoRender></app-menu-tools>
<section class="container 2xl mx-auto font-sans pt-7 relative px-4 sm:px-6 lg:px-0">
  <div class="w-full mb-8 overflow-hidden rounded-md shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr class="font-bold text-sm bg-gray-800 text-white rounded-md">
            <th class="text-left px-6 py-4 hidden md:block">#</th>
            <th class="text-left px-6 py-4">Name222222222</th>
            <th class="text-left px-6 py-4">Price</th>
            <th class="text-left px-6 py-4">Market Cap</th>
            <th class="text-left px-6 py-4">VWAP(24Hr)</th>
            <th class="text-left px-6 py-4">Supply</th>
            <th class="text-left px-6 py-4">Volume(24Hr)</th>
            <th class="text-left px-6 py-4">Change(24Hr)</th>
          </tr>
        </thead>
        <tbody *ngIf="cryptoFromPaginator" class="bg-white">
          <tr *ngFor="let crypto of cryptoFromPaginator" class="text-gray-700 hover:bg-gray-200 cursor-pointer"
           
            [routerLink]="['cryptos', crypto.id]">
            <td class="hidden md:table-cell px-4 py-3 text-ms font-semibold border-b">{{crypto.rank}}</td>
            <td class="px-4 py-3 border-b">
              <div class="flex items-center text-sm">
                <div class="flex flex-wrap content-center">
                  <img class="xl:h-8 lg:h-7 md:h-6 h-5 w-auto mr-2" src="https://static.coincost.net/logo/cryptocurrency/{{crypto.id}}.png">
                </div>
                <div>
                  <p class="font-semibold text-black">{{crypto.name}}</p>
                  <p class="text-xs text-gray-600  flex flex-wrap content-center"><span class="block md:hidden flex flex-wrap content-center justify-center bg-gray-800 rounded-sm text-white text-xs px-1 w-4 h-4 mr-1 font-bold">{{crypto.rank}}</span>{{crypto.symbol}}</p>
                </div>
              </div>
            </td>
            <!-- <td class="px-4 py-3 text-sm border">6/4/200</td> -->
            <td class="border-b px-6 py-4">
              {{crypto.priceUsd | currencyPipe}}$
            </td>
            <td class="border-b px-6 py-4">
              {{crypto.marketCapUsd | number : '1.2-2'}}$
            </td>
            <td [ngClass]="{
              'text-red-600': crypto.priceUsd < crypto.vwap24Hr,
              'text-green-600': crypto.priceUsd > crypto.vwap24Hr
            }" class="border-b px-6 py-4">
              {{crypto.vwap24Hr | currencyPipe}}$
            </td>
            <td class="border-b px-6 py-4">
              {{crypto.supply | number : '1.2-2'}}$
            </td>
            <td class="border-b px-6 py-4">
              {{crypto.volumeUsd24Hr | number : '1.2-2'}}$
            </td>
            <td class="border-b px-6 py-4" [ngClass]="{
              'text-red-600': crypto.changePercent24Hr < 0,
              'text-green-600': crypto.changePercent24Hr > 0
            }">
              <div class="flex items-center text-sm">
                <div>
                  {{crypto.changePercent24Hr | number : '1.2-2'}}%
                </div>
                <div>
                  <svg *ngIf="crypto.changePercent24Hr > 0" class="h-4 w-4 text-green-500" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <line x1="12" y1="5" x2="12" y2="19" />
                    <line x1="16" y1="9" x2="12" y2="5" />
                    <line x1="8" y1="9" x2="12" y2="5" />
                  </svg>
                  <svg *ngIf="crypto.changePercent24Hr < 0" class="h-4 w-4 text-red-500" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <line x1="12" y1="5" x2="12" y2="19" />
                    <line x1="16" y1="15" x2="12" y2="19" />
                    <line x1="8" y1="15" x2="12" y2="19" />
                  </svg>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <app-pagination [cryptoFromDatabaseLength]="cryptoFromDatabaseLenght" (pagePaginator)="getPagePaginator($event)">
      </app-pagination>
    </div>
  </div>
</section>