<!-- This is an example component -->
<div class="container 2xl mx-auto">
  <div class="relative px-4 sm:px-6 lg:px-0">
    <div class="flex flex-col sm:flex-row justify-end">
      <div>
        
      </div>
      <div>
        <app-currency></app-currency>
      </div>
      <div>
        <app-search></app-search>
      </div>
    </div>
  </div>
</div>