
    <section class="container 2xl mx-auto font-sans pt-7 relative px-4 sm:px-6 lg:px-0 hidden md:block">
    <div class="grid grid-cols-3 gap-6 place-items-center">
        <!-- 1 card -->
        <div class="relative bg-white py-6 px-6 rounded-3xl w-full my-4 bg-indigo-50">
            <div
                class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-lg bg-green-400 border left-4 -top-6">
                <!-- svg  -->
                <svg class="h-8 w-8 text-white-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                </svg>
            </div>
            <div class="mt-8">
                <p class="text-xl font-medium my-4">Biggest Gainers %</p>
                <div class="flex space-x-1 text-sm justify-between" *ngFor="let element of biggestGainers$ | async">
                    <div class="flex mb-2 items-center">
                        <img class="h-6 w-auto mr-3"
                            src="https://static.coincost.net/logo/cryptocurrency/{{element.id}}.png">
                        <div class="flex items-center">
                            <p class="font-semibold">{{element.name}}</p>
                            <p class="text-xs text-gray-600 ml-1">({{element.symbol}}):</p>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <p class="text text-green-500">{{element.changePercent24Hr | number : '1.2-2'}}%</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2 card -->
        <div class="relative bg-white py-6 px-6 rounded-3xl w-full my-4 bg-indigo-50">
            <div
                class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-red-400 border left-4 -top-6">
                <!-- svg  -->
                <svg class="h-8 w-8 text-white-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <polyline points="3 7 9 13 13 9 21 17" />
                    <polyline points="21 10 21 17 14 17" />
                </svg>
            </div>
            <div class="mt-8">
                <p class="text-xl font-medium my-4">Biggest Losers %</p>
                <div class="flex space-x-1 text-sm justify-between" *ngFor="let element of biggestLosers$ | async">
                    <div class="flex mb-2 items-center">
                        <img class="h-6 w-auto mr-3"
                            src="https://static.coincost.net/logo/cryptocurrency/{{element.id}}.png">
                        <div class="flex items-center">
                            <p class="font-semibold">{{element.name}}</p>
                            <p class="text-xs text-gray-600 ml-1">({{element.symbol}}):</p>
                        </div>
                    </div>
                    <div>
                        <p class="text text-red-500">{{element.changePercent24Hr | number : '1.2-2'}}%</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 3 card -->
        <div class="relative bg-white py-6 px-6 rounded-3xl w-full my-4 bg-indigo-50">
            <div
                class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-red-400 border left-4 -top-6">
                <!-- svg  -->
                <svg class="h-8 w-8 text-white-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <polyline points="3 7 9 13 13 9 21 17" />
                    <polyline points="21 10 21 17 14 17" />
                </svg>
            </div>
            <div class="mt-8">
                <p class="text-xl font-medium my-4">Biggest Losers %</p>
                <div class="flex space-x-1 text-sm justify-between" *ngFor="let element of biggestLosers$ | async">
                    <div class="flex mb-2">
                        <img class="h-6 w-auto mr-3"
                            src="https://static.coincost.net/logo/cryptocurrency/{{element.id}}.png">
                        <div class="flex items-center">
                            <p class="font-semibold">{{element.name}}</p>
                            <p class="text-xs text-gray-600 ml-1">({{element.symbol}}):</p>
                        </div>
                    </div>
                    <div>
                        <p class="text text-red-500">{{element.changePercent24Hr | number : '1.2-2'}}%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>