<div class="w-full md:w-80">
    <div class="flex items-center bg-gray-200 rounded-md">
        <div class="pl-2">
            <svg class="fill-current text-gray-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24">
                <path class="heroicon-ui"
                    d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
            </svg>
        </div>
        <input (focus)="focus()" (blur)="blur()"  
            class="w-full md:w-80 rounded-md bg-gray-200 text-gray-700 leading-tight focus:outline-none py-2 px-2"
            id="search" type="text" placeholder="Search crypto" [(ngModel)]="searchText">
        </div>
    <div *ngIf="focusSearch" class="absolute w-full md:w-80 mt-2 z-50 bg-white shadow-md rounded-lg px-3 py-2 mb-4"> 
       <ng-container *ngIf="!searchText" >

       </ng-container>
       <ng-container *ngIf="searchText">
            <div class="py-3 text-sm">
                <ng-container *ngFor="let crypto of cryptoFilter | FilterPipe: searchText; let i=index" >
                    <div *ngIf="i<10" class="flex flex-row cursor-pointer text-gray-700 hover:text-blue-400 hover:bg-blue-100 rounded-md px-2 py-2 my-2">
                        <div class="flex justify-start flex-wrap content-center font-medium px-2"><img class="h-4" src="https://static.coincost.net/logo/cryptocurrency/{{crypto.id}}.png"></div>
                        <div class="flex justify-start text-sm font-normal text-gray-500 tracking-wide">{{crypto.name}} ({{crypto.symbol}})</div>
                        <div class="flex-auto flex justify-end text-sm font-normal text-gray-500 tracking-wide">#{{crypto.rank}}</div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>